* {
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  background: #eee;
}
.submit {
  width: 100%;
  overflow: hidden;
}
.disclaimer {
  font-size: 0.8rem;
  color: #666;
  text-wrap: wrap;
  margin: 1rem;
  text-align: center;
}
h2 {
  text-align: center;
}
div.container {
  padding: 2rem;
  border: 1px solid #aaa;
  background: #fff;
  box-shadow: 0px 0px 10px 0px #00000040;
  border-radius: 5px;
  margin: auto;
  box-sizing: border-box;
}
div.formContainer {
  width: 100%;
  display: grid;
  gap: 1rem;
}

input,
textarea {
  border-radius: 3px;
  border: 1px solid #999;
  padding: 0.5rem;
}

label[required]::after {
  content: '*';
  color: red;
}

button {
  background: #45a345;
  border: 0;
  border-radius: 3px;
  padding: 0.5rem;
  color: white;
  width: 100%;
}

@media (min-width: 500px) {
  div.formContainer {
    grid-template-columns: max-content auto;
    justify-content: center;
    align-items: center;
  }
  div.container {
    max-width: 500px;
  }
}
